.benefits {
  font-family: $ff-montserrat;
  color: $tangaroa;
  background-color: $color-alice-blue;
  background-image: url("../img/benefits-background@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @supports (background-image: url("../img/benefits-background@1x.webp")) {
    background-image: url("../img/benefits-background@1x.webp");
  }

  @include retina {
    background-image: url("../img/benefits-background@2x.jpg");

    @supports (background-image: url("../img/benefits-background@2x.webp")) {
      background-image: url("../img/benefits-background@2x.webp");
    }
  }

  @include vp-1023 {
    background-image: url("../img/benefits-background-tablet@1x.jpg");

    @supports (background-image: url("../img/benefits-background-tablet@1x.webp")) {
      background-image: url("../img/benefits-background-tablet@1x.webp");
    }

    @include retina {
      background-image: url("../img/benefits-background-tablet@2x.jpg");

      @supports (background-image: url("../img/benefits-background-tablet@2x.webp")) {
        background-image: url("../img/benefits-background-tablet@2x.webp");
      }
    }
  }

  @include vp-767 {
    margin-top: 0;
    background-image: url("../img/benefits-background-mobile@1x.jpg");

    @supports (background-image: url("../img/benefits-background-mobile@1x.webp")) {
      background-image: url("../img/benefits-background-mobile@1x.webp");
    }

    @include retina {
      background-image: url("../img/benefits-background-mobile@2x.jpg");

      @supports (background-image: url("../img/benefits-background-mobile@2x.webp")) {
        background-image: url("../img/benefits-background-mobile@2x.webp");
      }
    }
  }
}

.benefits__container {
  width: 1180px;
  max-width: 100%;
  padding-top: 112px;
  padding-bottom: 120px;

  @include vp-1023 {
    width: 100%;
    padding-top: 89px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 55px;
    padding-bottom: 64px;
  }
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    margin-bottom: 31px;
    font-size: 24px;
    line-height: 36px;
  }
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 3.3%;
  margin: 0;
  padding-left: 0;
  list-style-type: none;

  @include vp-1023 {
    gap: 30px 4.4%;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.benefits__item {
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 47px;
  background-color: $color-alice-blue;
  background-repeat: no-repeat;
  background-position: 30px 30px;

  @include vp-1023 {
    padding: 72px 7px 22px 20px;
  }

  @include vp-767 {
    padding: 70px 20px 22px 20px;
  }

  &--1 {
    background-image: url("../img/svg/benefit-1-icon.svg");

    @include vp-1023 {
      background-size: 20px;
      background-position: 20px 28px;
    }
  }

  &--2 {
    background-image: url("../img/svg/benefit-2-icon.svg");

    @include vp-1023 {
      background-size: 30px;
      background-position: 18px 28px;
    }

    @include vp-767 {
      background-position: 18px 24px;
    }
  }

  &--3 {
    background-image: url("../img/svg/benefit-3-icon.svg");

    @include vp-1023 {
      background-size: 34px;
      background-position: 21px 28px;
    }

    @include vp-767 {
      background-position: 21px 24px;
    }
  }
}

.benefits__benefit-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    line-height: 25px;
  }

  @include vp-767 {
    width: 76%;
  }

  &--3 {
    @include vp-1023 {
      margin-bottom: 19px;
    }

    @include vp-767 {
      margin-bottom: 8px;
    }
  }
}

.benefits__word-wrap {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.benefits__benefit-text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
